<h1>{{ title }}</h1>
<hr />
<div class="c1">
  <input type="text" #f1 /><br />
  <button (click)="addTask(f1.value)">ADD TASK</button>
</div>
<hr />
<!--
<div class="c2">
  <ul *ngFor="let item of listTask">
    <li>{{ item.name }}</li>
  </ul>
</div>
-->
 
    <table>
        <tr>
            <th>TASK</th>
            <th>ACTION</th>
        </tr>
        <tr *ngFor="let item of listTask">
            <td>{{item.name}}</td>
            <td><button class='b1' (click)='deleteItem(item.tid)'>DELETE</button></td>
        </tr>
    </table>
 
