h1{ text-align: center;
    margin-top:10px;
    background-color: black;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;
}

.c1{
    padding:20px;
    width:30%;
    margin-left:500px;
    height:200px;
    background-color: azure;
    color:white;
    border-radius: 10px;
    border:1px solid black;
}

input{
    width:430px;
    height:50px;
    padding:10px;
    font-size: 30px;
}

button{
    margin-top:30px;
    margin-left:60px;
    width:310px;
    height:50px;
    background-color: lightgreen;
    color:black;
    font-size:20px;
}
.c2{
    border:1px solid gray;
    
    width:490px;
    height:300px;
    margin-left:500px;
}

ul{
    list-style-type: none;
    font-size:30px;
    
}

table,th,td{
    margin-left:450px;
    width:50%;
    border:1px solid black;
   border-collapse:collapse;
    text-align: center;
}

.b1{
    width:100px;
    background-color: red;
    color: aliceblue;
    margin:10px;
}